
@{
    ViewBag.Title = "Thanh Toán";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@using System.Data.Entity

    <div class="container mb-5">
        <h2>Thanh Toán</h2>
        <br />
       
        <div class="row">
            <div class="col-sm-12">
                <h5>Thông tin khách hàng</h5>
            </div>
            <div class="col-sm-7">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Tên KH</th>
                            <th>SDT</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span id="customer_name"></span></td>
                            <td><span id="customer_phone"></span></td>
                            <td><span id="customer_email"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-5">
                <p>Kiểm tra thông tin khách hàng</p>
                <div id="box_noti_check_customer" class="mb-1">
                    <span class="text-danger"><i class="fas fa-exclamation-triangle"></i> Không tìm thấy khách hàng!</span>
                    <a href="/Account/Register" target="_blank" class="text-primary"><i class="fas fa-hand-point-right"></i> Tạo tài khoản!</a>
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Số điện thoại" required>
                    <button type="button" class="btn btn-primary btn-block mt-2" id="check_customer"><i class="fas fa-check"></i> Check</button>
                </div>
            </div>
        </div>
        <hr style="width: 100px;" />
        <hr style="width: 100px;" />
        <div class="row" id="row_product_info">
            <div class="col-sm-12">
                <h5>Thông tin đơn hàng</h5>
            </div>
            <div class="col-sm-7">
                <button class="btn btn-link text-primary" id="btn_clear_table"><i class="fas fa-eraser"></i> Làm Mới Đơn Hàng</button>
                <span class="text-success" id="noti_clear_success"><i class="fas fa-check"></i> Đã làm mới!</span>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-hover" id="product_table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ảnh SP</th>
                                    <th>Chi Tiết</th>
                                    <th>SL</th>
                                    <th>Giá</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 text-center">
                        <br />
                        <div style="width: 50%; margin:auto;">
                            <span>Tạm tính: <span id="total_price">0</span> ₫</span>
                            <br />
                            <span>Phí vận chuyển: <span id="ship_cost">0</span> ₫</span>
                            <hr />
                        </div>
                        <span>Tổng thanh toán: <span class="font-weight-bold" id="total_pay">0 ₫</span></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <p class="text-primary" id="noti_find_product">Tìm thấy sản phẩm</p>
                <div class="" id="box_product_finded">
                    <div id="image_product_finded"> </div>
                    <div class="text-center" style="padding-left: 15px;">
                        <span id="name_product_finded"></span><br />
                        <span id="color_size_price_product_finded"></span>
                        <input type="hidden" id="product_id_finded" />
                        <br /><br />
                        <label>Số lượng: </label>
                        <input type="number" value="1" min="1" id="numProductAddBill" onchange="ClearNotiAddTable()" style="width: 50px; border: none; border-bottom: solid 0.5px #000; border-right: solid 0.5px #000;" />
                        <button class="btn btn-link text-primary" id="btn_add_bill"><i class="fas fa-plus"></i> Thêm vào đơn hàng</button>

                    </div>
                </div>
                <div class="text-right mb-2" id="box_noti_add_table_fail">

                </div>
                <div class="form-group mt-1">
                    <div id="box_noti_check_product">
                        <span class="text-danger"><i class="fas fa-exclamation-triangle"></i> Không tìm thấy sản phẩm!</span>
                    </div>

                    <input type="number" min="1" class="form-control" id="id_product" name="" placeholder="Mã sản phẩm" required>
                    <button type="button" class="btn btn-primary btn-block mt-2" id="find_product"><i class="fas fa-search"></i> Tìm sản phẩm</button>
                </div>

            </div>
            <div class="col-sm-7">
                <br />
                <form action="/Payment/Pay" method="post">
                    <input type="hidden" id="customer_id" name="id_customer" value="" required />
                    <button type="submit" class="btn btn-success btn-block" id="btn_pay"><i class="fas fa-cart-arrow-down"></i> THANH TOÁN</button>
                </form>
            </div>
        </div>

    </div>


@section Scripts
{
    <script>
        $(document).ready(function () {

            $("#noti_find_product").hide();
            

            $("#payment").addClass("active");
            $("#box_product_finded").hide();
            $("#row_product_info").hide();
            $("#btn_pay").hide();
            $("#noti_clear_success").hide();
            $("#box_noti_check_customer").hide();
            $("#box_noti_check_product").hide();
            $("#box_noti_add_table_fail").hide();
            
            // hide noti check customer
            $("#phoneNumber").focusin(function () {
                $("#box_noti_check_customer").hide();
            });
            $("#id_product").focusin(function () {
                $("#box_noti_check_product").hide();
            });

            // Tìm sản phẩm cần thanh toán
            $("#find_product").click(function () {
                $.post("/api/findproduct", {
                    Id_Product: $("#id_product").val()
                })
                    .done(function (data) {
                        //alert("Đã cập nhật số lượng sản phẩm!");
                        //alert("Màu: " + data.Color + ", Size: " + data.Size + ", Name: " + data.Id_Model);
                        $("#noti_find_product").show(200);

                        $("#numProductAddBill").val(1);
                        $("#image_product_finded").html('<img src="' + data.Image_Front + '" class="float-left" height="130" width="120"  />');
                        $("#name_product_finded").html(data.Name_Product);
                        $("#color_size_price_product_finded").html(data.Color_Product + ' - ' + data.Size_Product + ' - ' + FormatPrice(data.Price_Product) + ' ₫');
                        $("#product_id_finded").val(data.Id_Product);
                        $("#box_product_finded").fadeIn();
                        $("#box_noti_add_table_fail").fadeOut();

                    })
                    .fail(function () {

                        $("#box_noti_check_product").show(100);
                        
                    });
            });

            // Check Khách Hàng
            $("#check_customer").click(function () {
                $.post("/api/checkcustomer", {
                    PhoneNumber: $("#phoneNumber").val()
                })
                    .done(function (data) {

                        

                        //alert(data.Name);
                        $("#customer_name").html(data.Name);
                        $("#customer_phone").html(data.PhoneNumber);
                        $("#customer_email").html(data.Email);

                        $("#row_product_info").fadeIn();

                        // gán vào form post
                        $("#customer_id").val(data.Id);
                    })
                    .fail(function () {
                        //alert("Something failed!");
                        $("#box_noti_check_customer").show(100);
                    });
            });

            // Thêm sản phẩm vào hóa đơn
            $("#btn_add_bill").click(function () {
                $("#noti_clear_success").hide(100);
                $.post("/api/addtobill", {
                    Id_Product: $("#product_id_finded").val(),
                    Num: $("#numProductAddBill").val()
                })
                    .done(function (data) {
                        if (!data) {
                            //alert("Hến hàng");
                            var noti = '<span class="text-warning"><i class="fas fa-exclamation-triangle"></i> Không đủ sản phẩm trong kho!</span>';
                            $("#box_noti_add_table_fail").html(noti);
                            $("#box_noti_add_table_fail").fadeIn();
                        } else {
                            LoadDataTable(data);
                        }
                    })
                    .fail(function () {
                        //alert("Sản phẩm đã tồn tại trong đơn hàng!");
                        var noti = '<span class="text-warning"><i class="fas fa-exclamation-triangle"></i> Sản phẩm đã có trong đơn hàng!</span>';
                        $("#box_noti_add_table_fail").html(noti);
                        $("#box_noti_add_table_fail").fadeIn();
                    });
            });

            // Clear Table
            $("#btn_clear_table").click(function () {
                $.post("/api/ClearTable")
                    .done(function () {
                        $('#product_table >tbody >tr').html("");
                        $("#total_price").html('0');
                        $("#ship_cost").html('0');
                        $("#total_pay").html('0 ₫');
                        $("#noti_clear_success").show(100);

                        $("#btn_pay").fadeOut();
                        $("#box_noti_exist_in_table").fadeOut();
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
        });

        function ClearNotiAddTable() {
            $("#box_noti_add_table_fail").fadeOut();
        }

        function LoadDataTable(data) {
            $('#product_table >tbody >tr').html("");
            $("#box_noti_exist_in_table").fadeOut();
            var total_price = 0;
            var ship_cost = 15000;
            var total_pay = 0;
            for (var i = 0; i < data.length; i++) {
                var img = '<img src="' + data[i].Image_Front + '" class="float-left" height="60" width="60" />';
                var detail = '<p>' + data[i].Name + '</p><p>' + data[i].Color + ' - ' + data[i].Size + '</p>';
                var num = data[i].Num;
                var price = FormatPrice(data[i].Price);
                var btn_del = '<button class="btn btn-link text-primary" onClick="DelRow(' + data[i].Id_Product + ')"><i class="fas fa-trash-alt"></i></button>';
                $('#product_table >tbody').append(
                    '<tr> <td>' + (i + 1) + '</td><td>' + img + '</td><td>' + detail + '</td><td>' + num + '</td><td>' + price + ' ₫</td><td>' + btn_del + '</td></tr>'
                );

                // Tính giá
                total_price += data[i].Price * data[i].Num;
            }
            total_pay = total_price + ship_cost;
            $("#total_price").html(FormatPrice(total_price));
            $("#ship_cost").html(FormatPrice(ship_cost));
            $("#total_pay").html(FormatPrice(total_pay) + ' ₫');

            var rowCount = data.length;
            //alert("SL sản phẩm hóa đơn: " + rowCount);
            if (rowCount > 0) {
                $("#btn_pay").fadeIn();
            }
        }

        function DelRow(id_product) {
            $.post("/api/DelRow", {
                Id_Product: id_product
            })
                .done(function (data) {
                    LoadDataTable(data);
                })
                .fail(function () {
                    alert("Something failed!");
                });
        }

        function FormatPrice(price) {
            var strPrice = String(price);
            var result = "";
            var point = 1;
            for (var i = strPrice.length-1; i >= 0; i--) {
                if (point == 4) {
                    point = 1;
                    result += ",";
                }
                result += strPrice[i];
                point++;
            }
            var formatPrice = "";
            for (var i = result.length-1; i >= 0; i--) {
                formatPrice += result[i];
            }

            return formatPrice;
        }
      
    </script>
}