

.product_category {
    background-color: #ff7043;
    color: white;
    font-size: 14px;
    padding: 2px 6px;
    border-radius: 6px;
}

.lable_sale {
    position: absolute;
    top: 10px;
    right: 30px;
    color: white;
    background-color: #ee3831;
}


.dl-horizontal dt {
    white-space: normal;
}



* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Tahoma;
    font-size: 16px;
}

#noti_new{
    position: absolute;
    top: 0;
    left: 0;
}

ul > li > a:hover {
    color: #5ecfbc !important;
}

.carousel-caption {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


.carousel-caption h2 {
    color: white;
    text-shadow: 4px 4px 10px #000;
    /*font-family: Tahoma !important;*/
}



.gallery {
    background: #EEE;
}

.gallery-cell {
    width: 35%;
    height: 340px;
    background: #8C8;
    overflow: hidden;
}

    .gallery-cell img {
        width: 100%;
        height: 100%;
        transition: all 1.5s;
    }

    .gallery-cell:hover img {
        margin-left: -10%;
        margin-top: -10%;
        width: 120%;
        height: 120%;
    }

    /*.gallery-cell.is-selected {
        background: #ED2;
    }
    .gallery-cell:before {
        display: block;
        text-align: center;
        line-height: 200px;
        font-size: 80px;
        color: white;
    }*/


.btn_view_product {
    /*position: relative;
    left: 0;
    bottom: 0;*/
    width: 0;
    transition: 1s;
}

.box_product:hover .btn_view_product {
    width: 100%;
}
.elementProduct {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.image_product_cover {
    height: 300px;
    width: 100%;
    transition: 1s;
}
/*.image_product_cover:hover {
    margin-top: -20%;
    margin-left: -5%;
    height: 80%;
    width: 110%;
}*/
/* TODO SEARCH */
input {
    outline: none;
}

.container-4 {
    overflow: hidden;
    max-width: 340px;
    vertical-align: middle;
    white-space: nowrap;
}

.container-4 input#search {
    width: 100%;
    height: 35px;
    background: #fff;
    border: none;
    font-size: 12pt;
    float: left;
    color: #000;
    padding-left: 15px;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container-4 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-4 input#search:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
}

.container-4 input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
    color: #65737e;
}

    .container-4 button.icon {
        margin-left: -50px;
        border: none;
        background: #5ecfbc;
        height: 35px;
        width: 50px;
        color: #fff;
        /*opacity: 1;*/
        font-size: 10pt;
        /* transition: all .55s ease;
        -webkit-transition: all .55s ease;
        -moz-transition: all .55s ease;
        -ms-transition: all .55s ease;
        -o-transition: all .55s ease;*/
    }


/* ANIMATION EFFECT */

.container-4:hover button.icon,
.container-4:active button.icon,
.container-4:focus button.icon {
    outline: 0;
    opacity: 1;
    margin-left: -50px;
    cursor: pointer;
}


/* Details */
.quantity-area{
    width: max-content;
}
.quantity-area input.btn-left-quantity {
    border-right: none;
}

.quantity-area input.qty-btn {
    background: #fff;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 42px;
    width: 32px;
    text-align: center;
    border-radius: 0;
    /*font-size: 20px;*/
    color: black;
}
    .quantity-area input, .quantity-area input#quantity_quickview {
        background: #fff;
        font-weight: 600;
        height: 42px;
        padding: 0;
        text-align: center;
        width: 70px;
        border: 1px solid #e1e1e1;
        border-left: none;
        border-right: none;
        border-radius: 0;
        -webkit-appearance: none;
        /*font-size: 20px;*/
        color: black;
    }


/*  Details Caroucel */
/* external css: flickity.css */
.carousel {
    background: none;
}

.carousel-cell {
    width: 70%;
    height: 200px;
    /* flex-box, center image in cell */
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.carousel-cell img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    /* dim unselected */
    opacity: 0.7;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
    display: block;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none;
}

@media screen and ( min-width: 768px ) {
    .carousel-cell {
        height: 400px;
    }
}

@media screen and ( min-width: 960px ) {
    .carousel-cell {
        width: 60%;
    }
}

/* buttons, no circle */
.flickity-prev-next-button {
    width: 60px;
    height: 60px;
    background: transparent;
    opacity: 0.6;
    display: none;
}

    .flickity-prev-next-button:hover {
        background: transparent;
        opacity: 1;
    }
    /* arrow color */
    .flickity-prev-next-button .arrow {
        fill: black;
    }

    .flickity-prev-next-button.no-svg {
        color: black;
    }
    /* closer to edge */
    .flickity-prev-next-button.previous {
        left: -10px;
    }

    .flickity-prev-next-button.next {
        right: -10px;
    }
    /* hide disabled button */
    .flickity-prev-next-button:disabled {
        display: none;
    }


/* Table */
table tr th {
    font-weight: bold;
}

